In [18]:
import sqlalchemy as db
import datetime

from sodapy import Socrata

import pandas as pd

import subprocess
import json

# Data
---

### DHS Daily Report
Source: https://data.cityofnewyork.us/Social-Services/DHS-Daily-Report/k46n-sa2m

This dataset includes the daily number of families and individuals residing in the Department of Homeless Services (DHS) shelter system and the daily number of families applying to the DHS shelter system.

In [19]:
creds_file = open('../creds.json', 'r')
socrata_creds = json.loads(creds_file.read())

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", socrata_creds['app_token'])

In [20]:
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("k46n-sa2m", limit = 10_000);

# Convert to pandas DataFrame
daily_df = pd.DataFrame.from_records(results);

# Create database

In [40]:
creds_file = open('./database_cred.json', 'r')
database_creds = json.loads(creds_file.read())

In [41]:
engine = db.create_engine(database_creds['url'])

connection = engine.connect()
metadata = db.MetaData()

In [33]:
sql = f"""CREATE TABLE ny_dhs_daily (date_of_census DATE"""
for col in list(results[0].keys())[1:]:
    sql += f", {col} INT"
sql += ")"

connection.execute(sql)

In [34]:
sql = "INSERT INTO ny_dhs_daily VALUES"

for result in results:
    keys = list(result.keys())
    date = result[keys[0]].split('T')[0]

    sql += f"('{date}'"
    for num_key in range(len(keys)-1):
        sql = sql + f", {result[keys[num_key + 1]]}"
    sql += "),"

connection.execute(sql[:-1])

In [35]:
sql = """
SELECT *
FROM ny_dhs_daily
"""

connection.execute(sql)

In [36]:
df = pd.read_sql_query(sql, engine)

In [38]:
df.head()

,date_of_census,total_adults_in_shelter,total_children_in_shelter,total_individuals_in_shelter,single_adult_men_in_shelter,single_adult_women_in_shelter,total_single_adults_in_shelter,families_with_children_in_shelter,adults_in_families_with_children_in_shelter,children_in_families_with_children_in_shelter,total_individuals_in_families_with_children_in_shelter_,adult_families_in_shelter,individuals_in_adult_families_in_shelter
0,2019-11-23,38393,21747,60140,12217,4598,16815,12208,16325,21747,38072,2493,5253
1,2019-11-22,38402,21779,60181,12205,4599,16804,12219,16338,21779,38117,2497,5260
2,2019-11-21,38521,21818,60339,12247,4624,16871,12234,16374,21818,38192,2506,5276
3,2019-11-20,38520,21831,60351,12268,4608,16876,12241,16381,21831,38212,2500,5263
4,2019-11-19,38558,21847,60405,12282,4618,16900,12242,16384,21847,38231,2505,5274

# Dropping table

In [32]:
sql = """
DROP TABLE ny_dhs_daily
"""

connection.execute(sql)